<!-- /templates/customers/register.liquid -->

<div class="container py-5 my-5">
    <div class="login-form">
        {% form 'create_customer' %}
            {% include 'form-error', form: form %}
            <h2>Register</h2> 

            <label for="firstName">First Name</label>
            <input type="text" name="customer[first_name]" class="form-control my-2"/>

            <label for="lastName">Last Name</label>
            <input type="text" name="customer[last_name]" class="form-control my-2"/>

            <label for="emailAddress">Email Address</label>
            <input type="email" name="customer[email]" class="form-control my-2"/>

            <label for="password">Password</label>
            <input type="password" name="customer[password]" class="form-control my-2"/>

            <input class="btn btn-primary btn-lg my-3" type="submit" value="Sign Up"/>

        {% endform %}
    </div>
</div>